<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <span class="secondary-text">partners</span>
                <mat-icon class="secondary-text s-16">arrow_forward_ios</mat-icon>
                <span class="secondary-text">manage partner</span>
            </div>
            <div class="h1 mt-16">Manage Partners</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
<!-- 
        <div class="h1">
            Manage Partner 
        </div> -->

      

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row" fxLayoutAlign="center center">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                  fxFlex="1 0 auto" name="form" [formGroup]="form" novalidate (ngSubmit)="onSubmitPartner()">

                <div class="h2 mb-24"></div>

             

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>First name</mat-label>
                        <input matInput formControlName="firstName" required >
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>First Name is required!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="lastName" required >
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Last Name is required!</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>User Name</mat-label>
                        <input matInput formControlName="userName" required>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>                       

                    <mat-error *ngIf="form.get('userName').hasError('required')">
                        UserName is required
                    </mat-error>
                    <!-- <mat-error
                        *ngIf="!form.get('userName').hasError('required')">
                        Please enter a valid email address
                    </mat-error> -->
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-icon matSuffix class="secondary-text">email</mat-icon>
                     
                        <mat-error *ngIf="form.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error
                            *ngIf="!form.get('email').hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>phone</mat-label>
                        <input matInput formControlName="phone" required>
                        <mat-icon matSuffix class="secondary-text">phone_iphone</mat-icon>
                        <mat-error>phone number is required!</mat-error>
                        
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Business Name</mat-label>
                        <input matInput formControlName="company">
                        <mat-icon matSuffix class="disabled-text">domain</mat-icon>
                    </mat-form-field>

                </div>
               

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="address1" >   
                        </textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Address 2</mat-label>
                        <textarea matInput formControlName="address2"></textarea>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="33">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" >
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                       
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="34" class="px-8">
                        <mat-label>State</mat-label>
                        <input matInput formControlName="state">
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                       
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="33">
                        <mat-label>Postal Code</mat-label>
                        <input matInput #postalCode 
                               formControlName="postalCode" maxlength="15">
                        <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                       
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="100" >
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country" [(value)]="country" >
                           
                            <mat-option [value]="'Bahrain'">
                                Bahrain
                            </mat-option>
                            <mat-option [value]="'Iraq'">
                                Iraq
                            </mat-option>
                            <mat-option [value]="'Kuwait'">
                                Kuwait
                            </mat-option>
                            <mat-option [value]="'Oman'">
                                Oman
                            </mat-option>
                            <mat-option [value]="'Qatar'">
                                Qatar
                            </mat-option>
                            <mat-option [value]="'Saudi Arabia'">
                                Saudi Arabia
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                     
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="right right">
                    <button class="mr-8" mat-raised-button  type="submit" color="accent" class="submit-button">
                        Save
                    </button>
                    <button mat-raised-button (click)='cancel_partner()' class="cancel_btn" type="button" color="warn">
                        Cancel
                    </button>
                </div>
            </form>

            <!-- / REACTIVE FORM EXAMPLE -->

            <!-- <div class="mat-card form-errors-model p-24 mat-elevation-z4">
                <div class="h2 mb-24">Reactive Form Model</div>
                <pre><code>{{form.getRawValue() | json}}</code></pre>
            </div> -->

        </div>
<!-- 
        <div class="h1 pt-32">
            Horizontal Stepper
        </div> -->

        <!-- <p class="pb-32">
            Angular Material's stepper provides a wizard-like workflow by dividing content into logical steps.
            <code>mat-horizontal-stepper</code> selector can be used to create a horizontal stepper.
        </p> -->

        <!-- <div class="horizontal-stepper-wrapper"> -->

            <!-- HORIZONTAL STEPPER EXAMPLE -->
            <!-- <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

                <mat-step [stepControl]="horizontalStepperStep1">

                    <form fxLayout="column" [formGroup]="horizontalStepperStep1">

                        <ng-template matStepLabel>Fill out your name</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="firstName" required>
                                <mat-error>First Name is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastName" required>
                                <mat-error>Last Name is required!</mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep2">

                    <form fxLayout="column" [formGroup]="horizontalStepperStep2">

                        <ng-template matStepLabel>Fill out your address</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="row">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Address</mat-label>
                                <textarea matInput formControlName="address" required>
                                    1600 Amphitheatre Pkwy
                                </textarea>
                                <mat-error>Address is required!</mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep3">

                    <form fxLayout="column" [formGroup]="horizontalStepperStep3">

                        <ng-template matStepLabel>Fill out your address</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>City</mat-label>
                                <input matInput formControlName="city" required>
                                <mat-error>City is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>State</mat-label>
                                <input matInput formControlName="state" required>
                                <mat-error>State is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Postal Code</mat-label>
                                <input matInput #postalCode2 formControlName="postalCode"
                                       maxlength="5" required>
                                <mat-hint align="end">{{postalCode2.value.length}} / 5</mat-hint>
                                <mat-error>Postal Code is required!</mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step>

                    <ng-template matStepLabel>Done</ng-template>

                    <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                        Thank your for filling out our form.
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()">
                            Finish
                        </button>
                    </div>

                </mat-step>

            </mat-horizontal-stepper> -->
            <!-- / HORIZONTAL STEPPER EXAMPLE -->

        <!-- </div>

        <div class="h1 pt-48">
            Vertical Stepper
        </div>

        <p class="pb-32">
            Angular Material's stepper provides a wizard-like workflow by dividing content into logical steps.
            <code>mat-vertical-stepper</code> can be used to create a vertical stepper.
        </p>

        <div class="vertical-stepper-wrapper"> -->

            <!-- VERTICAL STEPPER EXAMPLE -->
            <!-- <mat-vertical-stepper class="mat-elevation-z4" [linear]="true">

                <mat-step [stepControl]="verticalStepperStep1">

                    <form fxLayout="column" [formGroup]="verticalStepperStep1">

                        <ng-template matStepLabel>Fill out your name</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="firstName" required>
                                <mat-error>First Name is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastName" required>
                                <mat-error>Last Name is required!</mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="verticalStepperStep2">

                    <form fxLayout="column" [formGroup]="verticalStepperStep2">

                        <ng-template matStepLabel>Fill out your address</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="row">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Address</mat-label>
                                <textarea matInput formControlName="address" required>
                                    1600 Amphitheatre Pkwy
                                </textarea>
                                <mat-error>Address is required!</mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="verticalStepperStep3">

                    <form fxLayout="column" [formGroup]="verticalStepperStep3">

                        <ng-template matStepLabel>Fill out your address</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>City</mat-label>
                                <input matInput formControlName="city" required>
                                <mat-error>City is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>State</mat-label>
                                <input matInput formControlName="state" required>
                                <mat-error>State is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Postal Code</mat-label>
                                <input matInput #postalCode3 formControlName="postalCode"
                                       maxlength="5" required>
                                <mat-hint align="end">{{postalCode3.value.length}} / 5</mat-hint>
                                <mat-error>Postal Code is required!</mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step>

                    <ng-template matStepLabel>Done</ng-template>

                    <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                        Thank your for filling out our form.
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button type="button" color="accent" (click)="finishVerticalStepper()">
                            Finish
                        </button>
                    </div>

                </mat-step>

            </mat-vertical-stepper> -->
            <!-- / VERTICAL STEPPER EXAMPLE -->
<!-- 
        </div> -->

    </div>
    <!-- / CONTENT -->

</div>


